.main-header {
	margin: 0;
	background-color: #fff;
	padding: 7px 140px 7px 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 2px #EEE;
}

.logo {
	text-align: center;
	margin: 0;
	padding: 6.3px 2px 0px 3.9px;
	font-weight: bold;
	font-size: 1.65rem;
	color: #fff;
	background-color: #CD633E;
	border-radius: 100%;
	width: 30px;
	height: 30px;
}

.search-form{
  width: 300px;
  margin-left: 10px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search-form input#search{
  width: 300px;
  height: 30px;
  background-color: #fff;
  font-size: 0.8rem;
  float: left;
  border: solid 1px #F4F4F4;
  padding-left: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.search-form .search-icon{
  position: absolute;
  margin-left: 10px;
  margin-top: 7px;
  color: #CBCBCB;
}

.login {
	margin-left: auto;
	font-size: 0.7rem;
	font-weight: bold;
	color: #99999F;
	letter-spacing: 0.07rem;
}

.login:hover {
  color: #DA552F;
}
