*, *before, *after {
	-webkit-box-sizing: border-box !important;
	   -moz-box-sizing: border-box !important;
			box-sizing: border-box !important;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/ProximaNova-Regular.otf') format ('otf');
}

body{
	font-family: 'Proxima Nova', sans-serif;
	font-size: 1em;
	margin: 0;
	background-color: #F9F9F9;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.all-content {
	width: 1168px;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 30px auto 0 auto;
}