.social {
	width: 20%;
	background-color: #fff;
	border: solid 1px #F2F2F2;
	/*height: 383px;*/
	margin-left: 20px;
}

.social-title {
	font-weight: 300;
	letter-spacing: 0.04rem;
	line-height: 1.5rem;
	margin:0;
	padding: 12px;
}

.social-description {
	margin: 0;
	color: #A69A99;
	font-size: 0.8rem;
	letter-spacing: 0.03rem;
	font-weight: 300;
	padding: 0 12px 12px 12px;
	line-height: 1.1rem;
}

.twitter {
	padding: 10px
}

.facebook {
	padding: 0 10px 20px 10px;
}